.form{
  max-width: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 4%;
}

.textField {
  margin: 5px 0 !important;
}

.submitButton {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
