.form{
  width: 40%;
  margin-left: 50px !important;
  margin-top: 50px !important;
}

.textField {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  margin-left: 5px !important;
  margin-right: 10px !important;
}