body {
  background-color: rgb(250, 250, 250);
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.componentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.image {
  justify-content: center;
  width: 470px;
  margin-top: 40px;
  border:2px solid #ec9e44;
}

@media (max-width: 770px) {

  .image {
    width: 270px;
  }

  .componentContainer {
    flex-direction: column-reverse;
    width: 100%;
  }

}